/* Global Styles */

html,
body {
  background-image: url('/img/main_bg.png');
  background-attachment: fixed;
  background-size: contain;
  height: 100%;
  width: 100%;
}



.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

.vert-text-Title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  
}

.vert-text-sector {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

.vert-text-sector h1 {
  display: table;
  margin: 0px auto 0px auto;
  padding: 25px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.788);
  font-size: 80px;
 
  font-weight: 700;
  font-family: 'Abril Fatface', cursive;
  color:#ac1414
}

.vert-text-Title h1 {
  display: table;
  margin: 0px auto 0px auto;
  padding: 25px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.788);
  font-size: 160px;
 
  font-weight: 700;
  font-family: 'Abril Fatface', cursive;
  color:#ac1414
  
}

.vert-text-Title h3{
  display: table;
  margin: 0px auto 0px auto;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.788);

}
/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 50%;
  background-color:rgba(255, 255, 255, 0.788);
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

.paragraph {
  padding-top: 20px;
  color: #555;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  padding: 20px;
}

.title {
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  color: #222;
  line-height: 24px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: none; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.headerbook {
  display: table;
  height: 50;
  width: 100%;
  position: relative;
  background: none; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Intro */

.intro {
  padding: 50px 0;
}

/* Services */

.services {
  background: none;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: none; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: none; 
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Footer */

footer {
  color: rgb(255, 255, 255);
  padding: 100px 0;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
/* Responsive */


.section-about {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 50%;
  background-color:rgba(255, 255, 255, 0.788);
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

.paragraph-about {
  padding-top: 20px;
  color: #555;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-about {
  padding: 20px;
}

.title-about {
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  color: #222;
  line-height: 24px;
}

/* Socials */
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:inline;
    margin-left: auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}

@media screen and (min-width: 780px) {
  .full-width-img {
  margin: auto;
  width: 90%;
  }
}